*{
    box-sizing: border-box;
    margin: 0;
    font-family: Roboto;
}
.primerEncabezado{
    background-color: #1CD1B0;
    padding-left: 30px;
    color: black;
    font-size: 15px;
    width: 100vw;
}
.segundoEncabezado{
    display: flex;
    align-items: center;
    background-color: #00669F;
    color: white;
    width: 100vw;
    padding-left: 30px;
}
.nombrePadding{
    padding-left: 20px;
    font-size: 30px;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 150px;
    width: 100vw;
}
.contenedorHijo{
    width: fit-content;
}
h1{
    color: #333333;;
    font-size: 72px;
    align-self: flex-start;
}
form{
    display: flex;
    flex-direction: column;
}
.usuario{
    width: 620px;
    height: 60px;
    border: 1.53407px solid #000000;
    padding-left: 15px;
    margin-top: 40px;
    margin-bottom: 15px;
}
.usuario::placeholder {
    color:black;
}
.correoElectronico{
    width: 620px;
    height: 60px;
    border: 1.53407px solid #000000;
    padding-left: 15px;
    margin-bottom: 15px;
}
.correoElectronico::placeholder {
    color:black;
}
.contrase単a{
    width: 620px;
    height: 60px;
    border: 1.53407px solid #000000;
    padding-left: 15px;
    margin-bottom: 15px;
    
}
.contrase単a::placeholder {
    color:black;
}
.pais{
    width: 620px;
    height: 60px;
    border: 1.53407px solid #000000;
    padding-left: 15px;
    margin-bottom: 15px;
}
.botones{
    display: flex;
    justify-content: center;
    align-items: center;
}
.resetear{
    margin-top: 40px;
    background: #888888;
    color: white;
    border-radius: 23.011px;
    height: 53.79px;
    font-size: 24px;
    border: none;
    margin-right: 30px;
    width: 280px;
}
.registrar{
    margin-top: 40px;
    background: #1CD1B0;
    border-radius: 23.011px;
    height: 53.79px;
    font-size: 24px;
    border: none;
    width: 280px;
}
.ingreso{
    display: flex;
    justify-content: center;
}
.cuenta{
    color: black;
    font-size: 21.4769px;
    padding-top: 15px;
}
.ingresar{
    padding-left: 10px;
    padding-top: 15px;
    color: #00669F;
    font-size: 21.4769px;
    text-decoration: none;
}
footer{
    display: flex;
    height: 61px;
    color: white;
    background-color: #00669F;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
@media (max-width:400px){
    .usuario{
        width: 300px;
    }
    .contrase単a{
        width: 300px;
    }
    .correoElectronico{
        width: 300px;
    }
    .pais{
        width: 300px;
    }
    .botones{
        flex-direction: column;
        align-items:center;
        justify-content: center;
    }
    .resetear{
        width: 40vw;
        margin-right: 0;
        margin-bottom: -20px;
    }
    .registrar{
        width:40vw;
    }
    .ingreso{
        flex-direction: column;
        align-items:center;
    }
}
@media (min-width:401px) and (max-width:700px){
    .usuario{
        width: 80vw;
    }
    .contrase単a{
        width: 80vw;
    }
    .correoElectronico{
        width: 80vw;
    }
    .pais{
        width: 80vw;
    }
    .botones{
        flex-direction: column;
        align-items:center;
        justify-content: center;
    }
    .resetear{
        width: 50vw;
        margin-right: 0;
        margin-bottom: -15px;
    }
    .registrar{
        width:50vw;
    }
    .ingreso{
        flex-direction: column;
        align-items:center;
    }
}